/*------GENERAL--------*/
html, body
{
    margin: auto;
    /*padding: 20px;*/
	text-align: center;
	font-size: 32px;
}

.night-mode{
	color: #858585;
	background-color: #000000;
}

.day-mode{	
	color: #000000;
	background-color: #ffffff;
}

label{
	border: 1px;
}

button{
	width: 50px;
	height: 30px;
	background-color: orange;
	border: none;
	padding: auto;
	cursor: pointer;
}

/*-----Menu------*/
#menu{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F59B00;
    /*border-radius: 10px;*/
    
}

#menu ul{
    list-style: none;
}

#menu ul li{
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin: 5px auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
#menu ul li:hover{
	cursor: crosshair;
	color: red;
	background-color: #FFBB00; 
	border-radius: 5px;
}

/*------games------*/
#gamesList{
    text-align: center;
    display: inline-block;
}

.gameInList{
    display: inline-block;
}

.img_cat{
    position:relative;
    display: inline-block;
}

.cat_name{
    position: absolute;
    display: none;
    text-align: center;
}

#cat1:hover + #cat_1{
    display: block;
}

#cat2:hover + #cat_2{
    display: block;
}

#cat3:hover + #cat_3{
    display: block;
}

/*-----game window------*/
#scoreCanvas, #lifesCanvas, #clickTimeCanvas, #clickAvgTimeCanvas{
	border: 1px solid #000000;
}

#gamingArea
{
    display: none;
}

#playCanvas {
	/*width: 640px;
	 height: 480px;*/
	background-color: #5a5a5a;
}

#main-table .td{
	width: 33%;
}

#left-bar, #right-bar{
	width: 33%;
	text-align: left;
}

#play-side{
	width: auto;
}

