/*------GENERAL--------*/
html, body
{
    margin: auto;
	text-align: center;
	font-size: 32px;
    background-color: #AF2025;
    height:100%;
    overflow: hidden;
}

label
{
	border: 1px;
}

button
{
	background-color: orange;
	border: none;
	padding: auto;
	cursor: pointer;
}

/*-----Menu------*/
#nav-bar
{
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #B0E0E6;
    display: block;
    box-sizing: border-box;
    /*border-radius: 10px;*/
    width:320px;
}

#menu ul
{
    list-style: none;
    background-color: #000000;
}
#menu ul li
{
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin: 5px auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
#menu ul li:hover
{
	cursor: crosshair;
	color: red;
	background-color: #FFBB00; 
	border-radius: 5px;
}

/*------games------*/
#gameModesList
{
    top:0px;
    text-align: center;
    display: block;
    width:300px;
}

.img_cat
{
    position:relative;
    display: block;
}

.cat_name
{
    position: absolute;
    display: none;
    text-align: center;
}

#cat1:hover + #cat_1
{
    display: block;
}

#cat2:hover + #cat_2
{
    display: block;
}

#cat3:hover + #cat_3
{
    display: block;
}

/*-----game window------*/
#scoreCanvas, #lifesCanvas, #clickTimeCanvas, #clickAvgTimeCanvas
{
	border: 1px solid #000000;
}


#playCanvas
{
	background-color: #1F2025;
    display: block;
}

#main-table .td{
	width: 33%;
}

#left-bar, #right-bar{
	width: 33%;
	text-align: left;
}

#play-side{
	width: auto;
}

.stat-bar
{
    position:absolute;
    top:20px;
    right:14px;
    text-align:right;
}