/*------GENERAL--------*/
html, body
{
    margin: auto;
	text-align: center;
	font-size: 32px;
    background-color: #AF2025;
    height:100%;
    overflow: hidden;
}

label
{
	border: 1px;
}

button
{
	background-color: orange;
	border: none;
	padding: auto;
	cursor: pointer;
    width: 200px;
    height: 50px;
}

/*-----Menu------*/
#nav-bar
{
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #000000;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    /*border-radius: 10px;*/
    width:320px;
}


/*------games------*/
#gameModesList
{
    top:0px;
    text-align: center;
    display: block;
    width:300px;
}

#gameInList:hover
{
    color: #ff0000;
    cursor:pointer;
}

.img_cat
{
    position:relative;
    display: block;
}

.cat_name
{
    position: absolute;
    display: none;
    text-align: center;
}

/*-----game window------*/
#scoreCanvas, #lifesCanvas, #clickTimeCanvas, #clickAvgTimeCanvas
{
	border: 1px solid #000000;
}


#playCanvas
{
	background-color: #1F2025;
    display: block;
    cursor:crosshair;
}

#main-table .td{
	width: 33%;
}

#left-bar, #right-bar{
	width: 33%;
	text-align: left;
}

#play-side{
	width: auto;
}

.stat-bar
{
    position:absolute;
    top:20px;
    right:14px;
    text-align:right;
}