[Desktop Entry]
Encoding=UTF-8
Name=Link to Phssthp0k/TrainYourAiming
Type=Link
URL=https://github.com/Phssthp0k/TrainYourAiming
Icon=text-html
Name[en_US]=Link to GitHub Phssthp0k/TrainYourAiming
